.overlay-popup-container{
  z-index: 100;
  background-color: rgba(0,0,0,0.6);
  padding: 10px 50px;
  display: flex;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  &.overlay-open{
//    display: flex;
  }
}

.overlay-popup{
  background-color: #edeff0;
  max-width: 400px;
  width: 730px;
  position: relative;
  padding: 10px;
  border-radius: 3px;
  color: #000000;

  h1, h2, h3{
    margin: 0;
  }
}

.close-overlay-button{
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000000;
  color: #FFFFFF;
}
